<body>
    <h1>Submitted Info</h1>
    <h3>Name: <%= result.name %></h3>
    <h3>Location: <%= result.location %></h3>
    <h3>Favorite Language: <%= result.language %></h3>
    <h3>Comment: <%= result.comment %></h3>
</body>