<body>
    <h1>I'm thinking of a number...</h1>
    <% if (message != 'Correct!') { %>
        <form action="/guess" method="POST">
            <input type="text" name="num">
            <button>Submit</button>
        </form>
    <% } else { %>
        <a href="/reset"><button>Play Again!</button></a>
    <% } %>    
    <h2><%= message %></h2>
</body>